# 🟢 Development
# `npm run dev`
#  - Runs TS directly
#  - Auto-restarts on file changes
#  - Uses .env.development
#  - Fast iteration

NODE_ENV=development
PORT=4000

JWT_SECRET=your-dev-secret-key
JWT_REFRESH_SECRET=your-dev-refresh-secret-key
# use this command to generate a secure JWT secret ✅
# `node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"`

DATABASE_URL=postgresql://postgres:@localhost:5432/100xlearning

FRONTEND_ORIGINS=http://localhost:3000

ZOOM_ACCOUNT_ID=your-account-id
ZOOM_CLIENT_ID=your-client-id
ZOOM_CLIENT_SECRET=your-secret
ZOOM_HOST_EMAIL=example@mail.com
